@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background: url(../images/lets-play.png) center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Panels placed in correct order */

.left-top-quadrant {
    background: navy;
    border-top-left-radius: 80%;
    border: 5px solid black;
}

.right-top-quadrant {
    background: red;
    border-top-right-radius: 80%;
    border: 5px solid black;
}

.left-bottom-quadrant {
    background: gold;
    border-bottom-left-radius: 80%;
    border: 5px solid black;
    top: 50%;
    left: 50%;
}

.right-bottom-quadrant {
    background: green;
    border-bottom-right-radius: 80%;
    border: 5px solid black;
    top: 50%;
    left: 50%;
}

.quadrant {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: -4.83px;
    margin-left: -4.83px;
}

#game {
    text-align: center;
    margin-top: 10%;
}

/* Position inner circle to the center of the 4 quadrants */

#circle {
    background-color: lightslategray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 42.5%;
    top:38%;
}
